*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');
body{
    background-color: #f5f5f5;
}



/* //////select////// */


section{
    width: 13%;
    height: 93vh;
    position: absolute;
    bottom: 0;
    z-index: 2;
    overflow-y: hidden;
    padding: 0 10px 0 15px;
    transition: all 0.2s ease;
    position: fixed;
    top: 71px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0); 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgba(104, 104, 104, 0.733); 
    border-radius: 5px;
}
section:hover{
    overflow-y:auto;
}
.items{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.items:hover{
    background-color: #ebebeb;
}
.items img{
    padding: 8px;
}
.items p{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.selectP{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 0 7px 10px;
}
.p_text{
    font-size: 16px;
    padding: 0 0 0 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(87, 87, 87);
}
.text__rec{
    font-size: 13px;
    padding: 15px 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(151, 151, 151);
}


/* /////////header/////// */



header{
    width: 100%;
    height: 100px;
    padding: 10px 20px 0 0;
    position: fixed;
    top: 0;
    background-color:#f5f5f5;
    z-index: 2;
}
.menu__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.burger__manu{
    width: 30px ;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
}
.linia__burger_1{
    width: 50%;
    height: 1px;
    background-color: black;
    border-radius: 50px;
    position: absolute;
    top: 8px;
}
.linia__burger_2{
    width: 50%;
    height: 1px;
    background-color: black;
    border-radius: 50px;
    position: absolute;
    top: 14px;
}
.youtube{
    cursor: pointer;
}
.linia__burger_3{
    width: 50%;
    height: 1px;
    background-color: black;
    border-radius: 50px;
    position: absolute;
    top: 20px;
}
.header__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0;
}
.menu__search{
    width: 600px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.menu__search input{
    height: 100%;
    width: 90%;
    padding: 0 0 0 20px;
    outline: none;
    font-size: 15px;
    border: none;
    background-color: transparent;
}
.linia__search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 650px;
}
.img__micra{
    padding: 9px;
    border-radius: 50%;
    transition: all 0.1s ease;
}
.img__micra:hover{
    background-color: rgb(224, 222, 222);
}
.label{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(128, 128, 128, 0.767);
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 14px;
}
.menu__search >div{
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgb(155, 153, 153);
    background-color: rgb(230, 228, 228);
    height: 100%;
    padding: 0 5px 0 0;
    cursor: pointer;
}
.menu__search >div:hover{
    background-color: rgb(218, 218, 218);
}
.icons{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons img{
    padding: 9px;
    border-radius: 50%;
    opacity: 0.8;
    transition: all 0.1s ease;
    cursor: pointer;
}
.icons img:hover{
    background-color: rgb(211, 209, 209);
}



/* ///////// main /////// */



main{
    width: 85%;
    margin: 0 0 0 13%;
    margin-top: 10px;
    height: 200vh;
    position: relative;
    top: 90px;
}
.youtube__video{
    
}
.blok_nav{
    position: fixed;
    top: 60px;
    z-index: 3;
}
.item__mini{
    padding: 5px 15px;
    border-radius: 8px;
    background-color: rgb(230, 229, 229);
    color: #141414;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    margin: 0 10px 0;
    cursor: pointer;
    transition: all 0.1s ease;
}
.item__mini:hover{
    background-color: rgb(201, 197, 197);
}
